<?xml version="1.0" encoding="UTF-8"?>
<suite name="Authentication Suite" parallel="tests" thread-count="4">
<test name="Logout Tests">
		<classes>
			<class name="tests.LogoutTest"></class>
		</classes>
	</test>
	<test name="Registration Tests">
		<classes>
			<class name="tests.CreateAccountTest"></class>
		</classes>
	</test>
	<test name="Login Tests">
		<classes>
			<class name="tests.LoginTest"></class>
		</classes>
	</test>
	<test name="Forgot Password Tests">
		<classes>
			<class name="tests.ForgotPasswordTest"></class>
		</classes>
	</test>
</suite>